html,body {
  height: 100%;
  margin: 0;
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body{
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

input[type="file"] {
  display: none;
}

.outer-container{
  flex-direction: row;
  margin: 0;
  padding-left: 10px;
  display: flex;
  border: dashed orange;
}
.outer-item1{
  flex:1;
}

.outer-item2{
  flex:7;
}

.main-container{
  height: 100vh;
  display: flex;
  flex-direction: column;
  border: solid orange;
  align-items: auto;
}

.mc-1{
  flex: .69;
  border: solid red;

}

.mc-2{
  flex: 6;
  border: solid green;
  
}

.ct-container{
  display: flex;
  flex-direction: row;
  border: solid purple;
  height: 100%;
}

.mt-item1{
  flex:6;
  border: dotted rgb(12, 5, 12);
}
.mt-item2{
  flex: 2;
}

/* Textarea */
.container {
  max-width: 820px;
  margin: 0px auto;
  margin-top: 50px;
}

.comment {
  float: left;
  width: 100%;
  height: auto;
}

.comment-text-area {
  float: left;
  width: 80%;
  height: auto;
}

.textinput {
  float: left;
  width: 100%;
  min-height: 150px;
  outline: none;
  resize: none;
  border: 1px solid grey;
}

.inputs-container{
  display: flex;
  flex-direction: row;
  border: solid burlywood;
}

.inputs{
  border: solid mediumslateblue;
  padding-top: 30px;
  padding-left: 30px;
  flex:3;
  height: 100%;
}
.tree{
  flex: 1.8;
}

.inputs-log-container{
  display:flex;
  flex-direction: column;
  height: 100%;
  border: dashed darkred
}

.inlc-1{
  height: 100%;
  flex: 2;
  border: dashed greenyellow;
}

.inlc-2{
  height: 100%;
  flex: 1.5;
  border: solid red;
}

.footer{
  flex: .1;
  height: 100%;
  border: solid hotpink;
  text-align: center;
 
}


.sendBinButton{
  text-align: center;
  vertical-align: middle;
  padding: 5px;
}







  
  