html,body {
  height: 100%;
  margin: 0;
  min-height: 100vh;
  min-height: -webkit-fill-available;
}
.outer-container{
  flex-direction: row;
  margin: 0;
  padding-left: 10px;
  display: flex;
  border: dashed orange;
}
.s-item1{
  flex:1;
}

.s-item2{
  flex:7;
}

.main-container{
  display: flex;
  flex-direction: column;
  border: solid orange;
}

.mt-container{
  flex-direction: row;
  display: flex;
  border: solid purple;
}

.mt-item1{
  flex:6;
  border: dotted hotpink;
}
.mt-item2{
  flex:.5;
}

#main-area{
  height: 100vh;
  flex-grow: 1;
  /* border: dashed red; */
}

#main-area > footer{
  position: sticky;
  top: 100vh;
  width: 100%;
  text-align: center;
}
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body{
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

input[type="file"] {
  display: none;
}

/* Textarea */
.container {
  max-width: 820px;
  margin: 0px auto;
  margin-top: 50px;
}

.comment {
  float: left;
  width: 100%;
  height: auto;
}

.comment-text-area {
  float: left;
  width: 80%;
  height: auto;
}

.textinput {
  float: left;
  width: 100%;
  min-height: 150px;
  outline: none;
  resize: none;
  border: 1px solid grey;
}






  
  